# my global config
global:
  scrape_interval: 15s 
  evaluation_interval: 15s 
  external_labels:
    cluster: "fed-prometheus"


scrape_configs:
# Варинт через прокси
  - job_name: "prometheus-1"
    scrape_interval: 30s
    honor_labels: true

    scheme: https
    metrics_path: /api/datasources/proxy/1/federate

    params:
    # Тут можно выбрать метрики для сохранения в S3
      'match[]':
        - '{__name__="up",job="node-exporter"}'
        - '{__name__="node_boot_time_seconds",job="node-exporter"}'
        - '{__name__="node_cpu_seconds_total",job="node-exporter"}'
        - '{__name__="node_memory_MemTotal_bytes",job="node-exporter"}'
        - '{__name__="node_memory_MemFree_bytes",job="node-exporter"}'
        - '{__name__="node_memory_Buffers_bytes",job="node-exporter"}'
        - '{__name__="node_memory_Cached_bytes",job="node-exporter"}'

        - '{__name__=~"core_(dynamic_requests|static_requests|resp_10X_codes|resp_20X_codes|resp_30X_codes|resp_40X_codes|resp_50X_codes)"}'
        - '{__name__="webapp_info"}'

        - '{__name__="kube_pod_info"}'
        - '{__name__="kube_pod_status_phase"}'
        - '{__name__="kube_pod_container_status_restarts_total"}'
        - '{__name__="kube_node_status_condition"}'
        - '{__name__="kube_deployment_status_replicas_unavailable"}'

    static_configs:
      - targets:
          - "prometheus-1:3000"

    # Пример с прокси + auth
    basic_auth:
      username: "username"
      password: "password"

    tls_config:
      insecure_skip_verify: true

    relabel_configs:
      - target_label: prom_source
        replacement: "prometheus-1"

# Вариант ванильный
  - job_name: "federation-prometheus-2"
    scrape_interval: 30s
    honor_labels: true

    scheme: http
    metrics_path: /federate

    params:
      # Тут можно выбрать метрики для сохранения в S3
      'match[]':
        - '{__name__="up"}'

        # CPU
        - '{__name__="node_cpu_seconds_total"}'
        - '{__name__="wmi_cpu_time_total"}'
        - '{__name__="windows_cpu_time_total"}'

        # Memory
        - '{__name__="node_memory_MemAvailable_bytes"}'
        - '{__name__="node_memory_MemTotal_bytes"}'
        - '{__name__="wmi_os_physical_memory_free_bytes"}'
        - '{__name__="wmi_os_physical_memory_total_bytes"}'
        - '{__name__="windows_os_physical_memory_free_bytes"}'
        - '{__name__="windows_os_physical_memory_total_bytes"}'

        # Filesystem / disks
        - '{__name__="node_filesystem_avail_bytes"}'
        - '{__name__="node_filesystem_size_bytes"}'
        - '{__name__="wmi_logical_disk_free_bytes"}'
        - '{__name__="wmi_logical_disk_size_bytes"}'
        - '{__name__="windows_logical_disk_free_bytes"}'
        - '{__name__="windows_logical_disk_size_bytes"}'

    static_configs:
      - targets:
          - "prometheus-2:9090"

    relabel_configs:
      - target_label: prom_source
        replacement: "prometheus-2"