# Prometheus configuration для работы с Thanos

global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Prometheus self-monitoring
  - job_name: 'prometheus_exporter'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          instance: 'ur_prometheus_instance_name'

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['localhost:9100']
        labels:
          instance: 'server-01'

  - job_name: 'process_exporter'
    static_configs:
      - targets: ['localhost:9256']
        labels:
          instance: 'server-01'

  - job_name: 'mysql_exporter'
    static_configs:
      - targets: ['localhost:9104']
        labels:
          instance: 'mysql-server-01'

  - job_name: 'windows_exporter'
    static_configs:
      - targets: ['192.168.1.20:9182']
        labels:
          instance: 'windows-server-01'

  - job_name: 'cuba_jvm'
    static_configs:
      - targets: ['localhost:8080']
        labels:
          instance: 'cuba-app-01'
