[Unit]
Description=Thanos Store Gateway
Wants=network-online.target
After=network-online.target

[Service]
User=srv
Group=srv
Type=simple

ExecStart=/bin/thanos/thanos store \
  --data-dir=/var/lib/thanos/gateway \
  --objstore.config-file=/etc/thanos/s3.yml \
  --grpc-address=0.0.0.0:10901 \
  --http-address=0.0.0.0:10902

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

ProtectHome=yes
NoNewPrivileges=yes
PrivateTmp=yes
RestrictSUIDSGID=yes


[Install]
WantedBy=multi-user.target